@model Big.Nutresa.Imagix.UI.Common.Models.MyRedemptionResponse
    <h2>@Big.Nutresa.Imagix.UI.Idioms.Resource.MyRedemptions</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">@Big.Nutresa.Imagix.UI.Idioms.Resource.Product</th>
                <th scope="col">@Big.Nutresa.Imagix.UI.Idioms.Resource.Quantity</th>

                <th scope="col">@Big.Nutresa.Imagix.UI.Idioms.Resource.RedemptionDate</th>
                <th scope="col">@Big.Nutresa.Imagix.UI.Idioms.Resource.RedemptionPoint</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Data.Count == 0)
            {
                <tr>
                    <th scope="row">
                       @Big.Nutresa.Imagix.UI.Idioms.Resource.NoDataAvailable                        
                    </th>
            
            </tr>
        }
        else
        {
            foreach (var item in Model.Data)
            {
                <tr>
                    
                    <td>@item.ProductName</td>
                    <th scope="row">@item.QUANTITY</th>
                    <td>@item.OrderDate</td>
                    <td>@item.PointsUnitValue</td>
                </tr>
            }
        }

            </tbody>
        </table>
