@model Big.Nutresa.Imagix.UI.Common.Models.CatalogFilterListResponse
@using System.Globalization;
@foreach (var item in Model.Data)
{
    <div class="card">
        <img class="card-img-top" src="
             @Big.Nutresa.Imagix.UI.Common.Helpers.ConfigurationHelper.Get("NetCommerce.GetCatalogGenericFilterV2.BaseImageUrl")@Convert.ToString(item.PRODUCT_IMAGE).Replace("~/","")" alt="Card image cap" width="300" height="300">
        <div class="card-body">
            <h5 class="card-title">
                @Big.Nutresa.Imagix.UI.Common.Helpers.XmlHelper.GetValueByCurrentLanguage(Convert.ToString(item.NAME), CultureInfo.CurrentCulture.TwoLetterISOLanguageName)
            </h5>
            <p class="card-text">@item.LONG_DESCRIPTION</p>
            @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post, new { @id = "FormAddToCart" }))
            {
                @Html.Hidden("ProductGuid", (string)@item.GUID);
                @Html.Hidden("ProductReference", (string)item.REFERENCE_ID);


                <select name="Quantity">
                    <option value="0">Seleccione Cantidad</option>
                    @for (int i = 1; i <= Convert.ToInt32(Model.Data.FirstOrDefault()?.INVENTORY); i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                <a href="#" onclick="document.getElementById('FormAddToCart').submit()" class="btn btn-primary">Add To Cart|<i class="icon-search"></i></a>
            }



        </div>
    </div>
}